<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
   http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

  <display-name>Loja Web App</display-name>

  <context-param>
    <param-name>numeroMaximoAcessos</param-name>
    <param-value>10</param-value>
  </context-param>

  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>

</web-app>
