.DS_Store
/.metadata/
loja/.idea/dataSources/bacba98c-a8c7-4814-81b5-5b5ab571c4ef.xml
loja/.idea/dataSources/bacba98c-a8c7-4814-81b5-5b5ab571c4ef/storage_v2/_src_/database/loja.-sUyAA/schema/public.abK9xQ.meta
loja/.idea/workspace.xml
